body {
  padding: 0;
  margin: 0;
}

.search {
  display: flex;
  justify-content: space-around;
  margin: 5%;
  width: 80%;
  height: 30%;
  padding: 5%;
  background-color: burlywood;
}

.input {
  width: 60%;
}
.button {
  width: 20%;
}
