body {
  margin: 0;
  padding: 0;
}

.result {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  width: 80%;
  height: 30%;
  padding: 5%;
  margin: 5%;
  background-color: darksalmon;
}

.img {
  height: 40%;
  width: 50%;
  margin: auto;
  padding: 2%;
}

.text {
  text-align: left;
  font-weight: 500;
}
